.products {
  display: flex;
  flex-wrap: wrap;
  .item {
    text-align: center;
    width: 30%;
    list-style: none;
    margin: 0.5%;
    background-color: grey;
    padding: 10px;
    img {
      width: 100%;
    }
  }
}
